
.App
{
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    height: 500px;
    padding-top: rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 60px;
    

     
}